# Environments
venv/
env/
.venv/
venv-msys/
.tmp/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Backend/Application Specifc
local_db/
uploads/
backend.log
frontend.log

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
dist-ssr/
*.local
.npm/
.eslintcache
.stylelintcache

# OS Files
.DS_Store
Thumbs.db

#authenthification database
auth.db

# Eval secrets
evals/models.json

